.github/**
.azure/**
.vs/**
.vscode/**
.vscode-test/**
node_modules/**
sample/**
src/**
out/**
vsc-extension-quickstart.md
webpack.config.js
tsconfig.json
.eslintrc.json
.gitignore
.yarnrc
**/*.map
**/*.ts
